{{!
    This file is part of Moodle - http://moodle.org/

    Template for displaying quiz integrity violation message.

    Context variables required for this template:
    * title - The violation header title
    * flagged_message - Quiz flagged message
    * exceeded_message - Exceeded window switches message
    * logged_message - Incident logged message
    * progress_message - Progress saved cannot continue message
}}
<div class="integrity-violation alert alert-danger">
    <h2><i class="fa fa-ban"></i> {{{title}}}</h2>
    <p><strong>{{{flagged_message}}}</strong></p>
    <p>{{{exceeded_message}}}</p>
    <p>{{{logged_message}}}</p>
    <p><strong>{{{progress_message}}}</strong></p>
</div>
