{{!
    This file is part of Moodle - http://moodle.org/

    Template for the submission processing overlay that appears when students submit assignments.

    Context variables:
    * title - The title text for the processing overlay
    * message - The message text explaining what is happening
    * spinner_class - CSS class for the spinner icon
}}
<div id="submission-processing-overlay" class="submission-processing-overlay">
    <div class="processing-modal">
        <div class="spinner-container">
            <i class="{{spinner_class}}" aria-hidden="true"></i>
        </div>
        <h3 class="processing-title">{{title}}</h3>
        <p class="processing-message">{{message}}</p>
    </div>
</div>
